*{

    margin: 0;
    padding: 0;
}
body{
    margin: 300px 300px;
}

.tabContainer{
    width: 100%;
    height: 350px;
    /* border: 2px solid blue; */
}
.tabContainer .buttonContainer{
    height: 15%;
    /* border: 2px solid red; */
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: aqua;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.eiv
{
    background-color: blue;
    padding: 120px 220px;
    margin: 38px 33px;
}


.select-menu{
    width: 380px;
    margin: 150px 20px;
}
.select-menu .select-btn{

}