*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 4.7rem;
    height: 427.1vh;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
/* Navbar Sections */
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    background: var(--bg-color);
    display: flex;
    z-index: 1000;
}
.top-nav-left{
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 70%;
    /* border: 2px solid black; */
}
.top-nav-lefta{
    position: relative;
    top: 12px;
    left: 0;
    width: 40%;
    height: 46%;
    padding: 5px 85px;
    /* border: 2px solid rgb(255, 6, 6); */
}
.top-nav-lefta a{
    color: var(--text-color);
    font-size: 27px;
    text-decoration: none;
    letter-spacing: 3px;
}
.top-nav-leftb{
    position: relative;
    top: 12px;
    width: 60%;
    height: 60%;
    /* border: 2px solid rgb(255, 6, 6); */
    display: flex;
    
}
.search{
    width: 50%;
    height: 65%;
    margin: 7px 110px;
    padding: 0 5px;
    outline: none;
    font-size: 13px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
}
.top-nav-leftb .btnx{
    margin: 7px -80px;
    font-size: 30px;
    color: var(--text-color);
}
.top-nav-right{
    display: flex;
    width: 30%;
    /* border: 2px solid rgb(0, 0, 255); */
}
.top-nav-righta{
    position: relative;
    top: 0;
    left: 0;
    width: 33.4%;
    height: 62%;
    margin: 12px 10px;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    display: flex;
}
.top-nav-righta a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
}
.top-nav-righta li a p{
    margin: -10px;
    font-size: 20px;
    padding-left: 16px;
}
.top-nav-righta .bx{
    margin: -12px 0;
    font-size: 25px;
}
#logins{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    width: 220px;
    margin: 40px -50px;
    background: #ffffff;
    list-style: none;
    box-shadow: 1px 1px 5px;
}
li:hover ul#logins{
    opacity: 1;
    visibility: visible;
}
#logins li a{
    font-size: 18px;
    font-family: 400;
    margin: 20px 7px;
    color: #000000;
}
#logins li .bxs-up-arrow{
    position: absolute;
    margin: -27px 82px;
    color: #ffffff;
}
#logins li h4{
    margin: 8px;
    font-size: 18px;
}
#logins li a i{
    font-size: 20px;
    margin: 0px 8px;
}
/* Section1 */
.section-one{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    /* border: 2px solid red; */
    background: var(--text-color);
    display: flex;
    overflow: hidden;
}
.section-two{
    position: relative;
    top: 0;
    left: 0;
    width: 9%;
    height: 130px;
    margin: 8px 19px;
    border-radius: 12px;
    box-sizing: border-box;
    border: .1px solid #dbd8d8;
    box-shadow: 1px 1px 5px;
    transition: transform 3s;
}
.section-two:hover{
    transform: rotate(10deg);
}
.section-two a{
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all 2s;
}
.section-two a:hover h4{
    color: #00abf0;
}
.section-two a img{
    width: 60%;
    margin-top: 10px;
}
.section-two a h4{
    color: #2F4F4F;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 800;
}

/* Section2 */
.slider{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    overflow: hidden;
}
.sliderimge{
        width: 100%;
        padding-right: 20px;
        height: 270px;
}
.slider_image{
    display: flex;
    padding: 0px 10px;
}
.btn-container{
    margin: auto;
    width: 10px;
}
.btn{
    padding: 35px 15px;
    background-color: #ffffff;
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn-left{
    position: relative;
    z-index: 5;
}
.btn-right{
    position: relative;
    left: -40px;
}
/* Section3 */
.collection{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
    text-align: center;
}
.collection h2{
    margin-left: -1250px;
    padding: 12px;
    color: #112e42;
    font-weight: 550;
}
.collection ul{
    position: relative;
    display: flex;
    /* border: 1px solid red; */
}
.collection ul a{
    width: 15%;
    height: 240px;
    margin: 12px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #dbd8d8;
    box-shadow: 1px 1px 5px;
}
.collection ul a li{
    margin-top: 0px;
    width: 100%;
    height: 190px;
    overflow: hidden;
}
.collection ul a li img{
    width: 50%;
    height: 160px;
    margin-top: 10px;
    transition: transform 3s;
}
.collection ul a li:hover img{
    transform: scale(1.1);
}
.collection ul a h4{
    color: #081b29;
    font-size: 16px;
}
.collection ul a p{
    font-size: 18px;
    color: #228B22;
}
.collection li{
    list-style: none;
    margin-top: 22px;
}
.collection li a{
    background: #00abf0;
    padding: 8px 22px;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 52px;
    transition: all 6s;
}
.collection li a:hover{
    color: #000000;
    background: linear-gradient(135deg, #FFA500, #FFFFFF, #006400);
}
/* section4 */
.sider{
    position: relative;
    display: flex;
    margin-top: 20px;
}
.sider .side-left{
    position: relative;
    width: 35%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px;
}
.sider .side-left .ignore{
    position: relative;
    height: 35px;
}
.sider .side-left .ignore p{
    float: left;
    font-size: 22px;
    padding: 4px;
}
.sider .side-left .ignore a i{
    float: right;
    font-size: 18px;
    padding: 5px;
    color: #fff;
    background: #0400ff;
    border-radius: 50px;
}
.sider .side-left ul{
    position: relative;
    display: flex;
}
.sider .side-left ul a{
    display: block;
    width: 50%;
    height: 250px;
    margin: 5px;
    padding: 5px 0px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    border: .1px solid #dedede;
}
.sider .side-left ul a img{
    width: 95%;
    height: 200px;
    transition: transform 9s;
}
.sider .side-left ul a:hover img{
    transform: scale(1.1);
}
.sider .side-left ul a{
    font-size: 18px;
    color: #000000;
}
.sider .side-left ul h3{
    color: #228B22;
}
.sider .side-right{
    width: 67%;
    margin: 10px;
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
    overflow: hidden;
}
.sider .side-right a img{
    width: 100%;
    height: 100%;
    transition: transform 3s;
}
.sider .side-right:hover img{
    transform: scale(1.1);
}
/* Section5 */
.lastmidl{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8.4%;
    margin-top: 22px;
    box-sizing: border-box;
    background: var(--second-bg-color);
}
.contact{
    display: flex;
}
.lastmidl-one{
    position: relative;
    top: 30px;
    left: 2rem;
    width: 16%;
    height: 220px;
    padding: 1px 20px;
    box-sizing: border-box;
    color: #708090;
    transition: all 0.3s;
    /* border: 2px solid var(--text-color); */
}
.oneid{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}
.oneid a{
    transition: all 0.3s;
    color: #ededed;
    text-decoration: var(--second-bg-color);
}
.lastmidl-one .oneid a:hover{
    color: #ffffff;
    text-decoration:underline;
}
.oneidea{
    margin-top: 18px;
}
.oneidea p{
    color: var(--text-color);
}
.oneidea a{
    color: var(--main-color);
    text-decoration: none;
}
.line{
    position: relative;
    top: 51px;
    left: 2rem;
    height: 165px;
    border: 2px solid #2F4F4F;

}
/* Section5 */
.last{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2%;
    box-sizing: border-box;
    background: var(--bg-color);
}
.container{
    display: flex;
}
.container_one{
    position: relative;
    top: 12px;
    left: 3rem;
    width: 12%;
    height: 50px;
    padding: 11px 26px;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
.container_one a,
.container_one p{
    color: var(--text-color);
    text-decoration: none;
}
.container_two{
    position: relative;
    top: 21px;
    left: 11rem;
    width: 20%;
    height: 23px;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
}
.container_two img{
    width: 100%;
    height: 20px;
}