*{
    padding: 0;
    margin: 0;
}
:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
body{
    margin-top: 60px;
}
/* -----------Scroll bar Desigin--------- */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#642bff,#ff22e6, #0998ff);
    border-radius: 12px;
}
/* section1 */
.Navbar{
    position: absolute;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background: linear-gradient(135deg, #ff22e6, #0998ff);
    /* border: 2px solid red; */
}
.Navbar .block-a{
    width: 46%;
    /* border: 2px solid blue; */
}
.block-a h2{
    float: right;
    margin: 10px;
    letter-spacing: 1px;
    font-style: italic;
    color: #fff;
    cursor: pointer;
}
.block-a .search{
    text-align: center;
    display: flex;
    float: right;
    width: 60%;
    height: 30px;
    margin-top: 12px;
    background: #fff;
    border-radius: 3px;
    /* border: 2px solid black; */
}
.search input{
    height: 20px;
    width: 90%;
    margin: 5px;
    outline: none;
    border: none;
}
.search i{
    font-weight: bold;
    margin: 2px;
    font-size: 28px;
    color: #0998ff;
}
.Navbar .block-b{
    width: 25%;
    /* border: 2px solid green; */
}
.block-b .location{
    list-style: none;
    float: left;
    font-size: 18px;
    margin: 16px;
    color: #fff;
}
.block-b ul li h3{
    float: right;
    text-align: center;
    width: 70px;
    margin: 8px;
    padding: 7px 16px;
    color: #0998ff;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    /* border: 2px solid red; */
}
#logins{
    opacity: 0;
    visibility: hidden;
    margin: 60px 210px;
    background: #fff;
    z-index: 1;
    width: 15%;
    /* border: 2px solid red; */
    position: absolute;
}
li:hover ul#logins{
    opacity: 1;
    visibility: visible;
}
#logins li{
    list-style: none;
    padding: 12px;
    border-bottom: .1px solid #DCDCDC;
}
#logins li i{
    font-size:18px;
}
#logins a{
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
#logins li .bxs-up-arrow{
    position: absolute;
    color: #ffffff;
    font-size: 22px;
    margin: -29px 86px;
}
#logins li h4{
    position: relative;
    font-size: 17px;
    line-height: 22px;

}
.block-c{
    width: 25%;
    /* border: 2px solid orange;  */
}
.block-c ul{
    display: flex;
    list-style: none;
    cursor: pointer;
}
.block-c li{
    position: relative;
    width: 20%;
    padding: 12px;
    margin: 5px 12px;
}
.block-c a{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'poppins',sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.bx-chevron-down:hover{
    transform: rotate(180deg);
}
#morein{
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 540px;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    margin-top: 20px;
    /* border: 2px solid red; */
}
li:hover ul#morein{
    opacity: 1;
    visibility: visible;
}
#morein li .bxs-up-arrow{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    margin: -32px 90px;
}
#morein li{
    margin: 0px -75px;
    width: 42%;
    background: #fff;
    border-bottom: .1px solid #DCDCDC;
}
#morein a{
    margin: 3px;
    font-size: 16px;
    color: black;
}
/* Section2 */
.manu-bar{
    position: relative;
    width: 100%;
    height: 40px;
    background: #155283;
}
.manu-bar ul{
    display: flex;
    list-style: none;
}
.manu-bar ul li{
    position: relative;
    width: 149px;
    height: 20px;
    padding-left: 5px;
    margin: 9px 6px;
    /* border: 2px solid white; */
}
.manu-bar ul li a{
    margin: 11px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s;
}
.manu-bar ul li a:hover{
    color: #0998ff;
}
.dropdown-manu{
    display: none;
}
.manu-bar ul li:hover .dropdown-manu{
    z-index: 999;
    display: block;
    position: absolute;
    top: 110%;
    left: 0;
    width: 73%;
    background-color: #155283;
}
.manu-bar ul li:hover .dropdown-manu ul{
    display: block;
    margin: -6px;
}
.manu-bar ul li:hover .dropdown-manu ul li{
    width: 106px;
    padding: 2px;
}
.dropdown-manu ul li a{
    font-size: 14px;
}
.bx{
    margin-left: 10px;
    padding-top: 1px;
}
.dropdown-manu-right{
    display: none;
}
.dropdown-manu ul li:hover .dropdown-manu-right{
    display: block;
    position: absolute;
    top: 0;
    left: 109.6px;
    width: 100%;
    background-color: #155283;
}
/* Section3 */
.wrapper {
    max-width: 1470px;
    width: auto;
    margin: 12px 35px;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 30px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #ffffff;
    box-shadow: 0 3px 6px #0000003b;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -40px;
  }
  .wrapper i:last-child{
    right: -25px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 200px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
  }
  .card a img {
    margin-top: 15px;
    object-fit: cover;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  /* Section4 */
  .slide-container{
    position: relative;
    width: auto;
    height: 500px;
    display: block;
    /* border: 3px solid #e61111; */
}
.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}
.slide-container .slides a img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    /* border: 1px solid blue; */
}
.slide-container .slides a img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 5px;
    height: 5px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #5b5555;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}
/* Section5 */
.topSell{
    position: relative;
    text-align: center;
}
.topSell h2{
    font-size: 40px;
    padding: 22px;
}
.topSell p{
    font-size: 30px;
    padding: 42px;
}
.topsell-box{
    position: relative;
    width: 94%;
    margin-left: 3%;
    display: flex;
    /* border: 1px solid red; */
}
.topsell-box a{
    display: block;
    position: relative;
    width: 24%;
    margin: 10px;
    /* border: 1px solid; */

}
.topsell-box a img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px;
    transition: all 2s;
}
.topsell-box a img:hover{
    margin-top: -22px;
}
.topSell .scuti{
    position: relative;
    display: flex;
    width: 94%;
    margin: 3%;
    /* border: 1px solid; */
}
.topSell .scuti a{
    display: block;
    overflow: hidden;
    width: 49%;
    height: auto;
    margin: 12px;
    box-shadow: 1px 1px 7px;
    border: 1px solid #9b9b9b;
}
.topSell .scuti a img{
    width: 100%;
    height: 100%;
    transition: transform 5s;
}
.topSell .scuti a:hover img{
    transform: scale(1.3);
}
.topSell .explore{
    position: relative;
    width: 94%;
    margin-left: 3%;
    display: flex;
}
.topSell .explore a{
    display: block;
    width: 22%;
    margin: 21px;
    border-radius: 15px;
    overflow: hidden;
    background: linear-gradient(135deg, #00abf0, #9b9b9b, #ff22e6);
    background-size: cover;
    /* border: 1px solid; */
}
.topSell .explore a img{
    width: 100%;
    height: 100%;
    transition: 5s linear;
}
.topSell .explore a img:hover{
    transform: rotate(360deg);
}
/* Section6 */
.lastmidl{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background: var(--second-bg-color);
}
.contact{
    display: flex;
}
.lastmidl-one{
    position: relative;
    top: 30px;
    left: 2rem;
    width: 16%;
    height: 220px;
    padding: 1px 20px;
    box-sizing: border-box;
    color: #708090;
    transition: all 0.3s;
    /* border: 2px solid var(--text-color); */
}
.oneid{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}
.oneid a{
    transition: all 0.3s;
    color: #ededed;
    text-decoration: var(--second-bg-color);
}
.lastmidl-one .oneid a:hover{
    color: #ffffff;
    text-decoration:underline;
}
.oneidea{
    margin-top: 18px;
}
.oneidea p{
    color: var(--text-color);
}
.oneidea a{
    color: var(--main-color);
    text-decoration: none;
}
.line{
    position: relative;
    top: 51px;
    left: 2rem;
    height: 165px;
    border: 2px solid #2F4F4F;

}
/* Section7 */
.last{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    background: var(--bg-color);
}
.container{
    display: flex;
}
.container_one{
    position: relative;
    top: 12px;
    left: 3rem;
    width: 13%;
    height: 50px;
    padding: 11px 26px;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
.container_one a,
.container_one p{
    color: var(--text-color);
    text-decoration: none;
}
.container_two{
    position: relative;
    top: 21px;
    left: 11rem;
    width: 20%;
    height: 23px;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
}
.container_two img{
    width: 100%;
    height: 20px;
}